html{
    /* width: 1240px; */
    /* height: 940px; */
    box-sizing: border-box;
    background-color:rgba(255, 255, 255,1);
    background-image: url(../img/background4.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    /* background-size:cover ; */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration:none;
}

.main{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

/* 導覽列 */

.header-layout{
    display:flex;
    margin-top: 30px;
    margin-bottom: 80px;
    align-items: flex-end;
    height: 100px;
    justify-content: space-between;
}

.nav{
    height: 78px;
}

.header-logo{
    width:286px;
    height:70px;
}

.nav-list{
    display:flex;
}

.nav-list-item1{
  background-image: url(../img/newsh2.png);
  background-size:90px 78px;
  background-repeat:no-repeat;
  margin: 0px 0px 0px 30px;
}
.nav-list-item2{
    background-image: url(../img/gameh2.png);
    background-size:90px 78px;
    background-repeat:no-repeat;
    margin: 0px 0px 0px 30px;
}
.nav-list-item3{
    background-image: url(../img/settingh2.png);
    background-size:90px 78px;
    background-repeat:no-repeat;
    margin: 0px 0px 0px 30px;
}
.nav-list-item4{
    background-image: url(../img/abouth2.png);
    background-size:90px 78px;
    background-repeat:no-repeat;
    margin: 0px 0px 0px 30px;
}
.nav-list-item1:hover img,
.nav-list-item2:hover img,
.nav-list-item3:hover img,
.nav-list-item4:hover img
{
opacity: 0;
}

.nav-list-item1:hover,
.nav-list-item2:hover,
.nav-list-item3:hover,
.nav-list-item4:hover
{
    background-size:100px 87px;
    width: 100px;
    height: 87px;
    margin-left: 20px;
}
/* 導覽列結束 */

/* footer */
footer{
    height: 150px;
    display: flex;
    align-items: center;
    font-size:16px;
    justify-content: center;
    background:#fff url(../img/footer.jpg);
    background-size:cover ;
    color:#4F4532;
}

.footer-layout{
    width: 1000px;
}

.footernav{
    display: flex;
    justify-content: space-between;
}

.footernav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.footernav li{
    list-style: none;
    margin-left:1em ;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}

.footernav a{
    color:#4F4532;
}

.footernav a:hover{
    color: rgb(243,190,104);
}

.footernavwithimg{
    display: flex;
}

.copyright{
    margin-top: 1em;
    line-height: 1.5em;
    color: rgb(170,162,143);
    height: 40px;
    font-size: 14px;
}

.footercontect{
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    width: 150px;
}

.footercontect-layout{
    display: flex;
    justify-content: space-between;
}

.footercontectimg{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 0.7em;
    opacity: 0.8;
    align-items: center;
}

.footercontectimg :hover img{
    opacity: 0;
}

.fb{
    background: url(../img/fbh.png);
    background-size: 35px;
    background-repeat:no-repeat;
}

.ig{
    background: url(../img/igh.png);
    background-size: 35px;
    background-repeat:no-repeat;
}

.mail{
    background: url(../img/mailh.png);
    background-size: 35px auto;
    background-repeat:no-repeat;
}