/*main area*/
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    
}

.container-list{
    /* width: 1100px; */
    height: 500px;
    width: 1000px;
    /* background-color: rgb(255, 238, 221); */
    /* border-radius: 8em 8em 12em 12em; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    line-height: 40px;
    /* padding: 70px; */
    background-image: url(../img/ppt3.jpg);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    /* background-position: center; */
    
}

.container-list-layout{
    background-color: rgba(240, 233, 204, 0.7);
    width: 850px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:3px;
    margin-top: 8px;
}

/* .container-list-img{
    height: 300px;
} */

.tab1{
    color: cornsilk;
   /* background-color: rgb(255, 0, 0);*/
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 10%;
    float: left;
    /* margin-left: 20px; */
    /* margin-top: 15px; */
    animation: neon .8s ease-in-out infinite alternate;
    /* position: fixed; */
    margin: 0 8px;
}
@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(228, 228, 202, 0.92),
      0 0 30px rgba(228, 228, 202, 0.34),
      0 0 12px rgba(228, 242, 30, 0.52),
      0 0 21px rgba(242, 221, 30, 0.92),
      0 0 34px rgba(242, 221, 30, 0.78),
      0 0 54px rgba(242, 221, 30, 0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(242, 30, 58,0.98),
      0 0 30px rgba(242, 30, 58,0.42),
      0 0 12px rgba(242, 30, 58,0.58),
      0 0 22px rgba(242, 30, 58,0.84),
      0 0 38px rgba(242, 30,58,0.88),
      0 0 60px rgb(242, 30, 58);
    }
  }


.tab2{
    color: cornsilk;
    background-color: rgb(255, 0, 0);
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 10%;
    float: left;
    margin-left: 50px;
    animation: neon .1s ease-in-out infinite alternate;
}
@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(228, 212, 202, 0.92),
      0 0 30px rgba(228, 216, 202, 0.34),
      0 0 12px rgba(242, 157, 30, 0.52),
      0 0 21px rgba(242, 157, 30, 0.92),
      0 0 34px rgba(242, 132, 30, 0.78),
      0 0 54px rgba(242, 168, 30, 0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgb(99, 105, 11);
    }
  }

.list1{
    width: 190px;
    height: 80px;
    /* color: rgb(56, 44, 10); */
    color: #4F4532;
    background-color: rgb(255, 209, 123);
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center; 
    justify-content: center;
    /* margin: 65px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: -20px; */
}
.list2{
    width: 750px;
    /* margin-top: -100px; */
    margin-left: 20px;
    /* margin-bottom: -20px; */
    /* margin: 50px; */
    /* color: rgb(61, 16, 0); */
    color: #4F4532;
    background-color: rgba(189, 177, 147,0.6);
    text-align: center;
    border-radius:5px; 
    font-size: 18px;
}

.date{
    margin-right: 20px;
    width: 120px;
}

.list2word{
    /* margin-left:16% ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.list2word-layout{
    width: 100%;
}

.list2:hover{
    color: rgb(255, 209, 123);
    /* background-color: rgb(49, 28, 0); */
    background-color: #4F4532;
    box-shadow: 10px 10px 4px rgba(188,188,188,0.6);
    -webkit-transform: translate(-2%, -2%);
    -ms-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%);
    transition: .3s ease;
}

.list2:hover a{
    color: rgb(255, 209, 123);
}

.list2 a{
    color: rgb(61, 16, 0);
}

.list2:hover .tab1{
    -webkit-transform: translate(-2%, -2%);
    -ms-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%);
    transition: .3s ease;
}

.trying{
    display: flex;
    height: 100px;
    align-items: center;
}

.comperience{
    display: flex;
    height: 100px;
    margin-top:20px ;
    align-items: center;
}

.cb{
    display: flex;
}